[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
pandas = "*"
numpy = "*"
flask_cors = "*"
builtwith = "*"
whois = "*"

[requires]
python_version = "python-3.7"